
@{
    ViewBag.Title = "Admin";
}

<h2>Admin</h2>

<li>@Html.ActionLink("BreweryReviews", "Index", "BreweryReviews")</li>
<li>@Html.ActionLink("Brewery", "Index", "Breweries")</li>
<li>@Html.ActionLink("Account", "Index", "Account")</li>
<li>@Html.ActionLink("IdentityRole", "Index", "IdentityRole")</li>
<li>@Html.ActionLink("ViewUserRoles", "Index", "ViewUserRoles")</li>